In [15]:
import pandas as pd 

df = pd.read_csv("../input/adult.csv")

df.size

488415

In [16]:
df.income.value_counts()

income
<=50K    24720
>50K      7841
Name: count, dtype: int64

In [18]:
df.income.isna().sum()

np.int64(0)

In [19]:
df.head()

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,66,?,186061,Some-college,10,Widowed,?,Unmarried,Black,Female,0,4356,40,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K

In [20]:
df = pd.read_csv("../input/adult_folds.csv")

df["kfold"].value_counts()

kfold
0    6513
1    6512
2    6512
3    6512
4    6512
Name: count, dtype: int64

In [21]:
print(df["income"].unique())

['>50K' '<=50K']

In [22]:
target_mapping = {
        "<=50K": 0,
        ">50K": 1
    }
df.loc[:, "income"] = df.income.map(target_mapping)
print(df["income"].isna().sum())

0

In [23]:
# drop rows where mapping failed
df = df.dropna(subset=["income"])
df["income"] = df["income"].astype(int)  # ensure int labels

In [24]:
df.head()

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income,kfold
0,41,Self-emp-not-inc,197176,Bachelors,13,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,75,United-States,1,0
1,53,Self-emp-not-inc,192982,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,85,United-States,0,0
2,17,?,48703,11th,7,Never-married,?,Own-child,White,Female,0,0,30,United-States,0,0
3,41,Private,394669,Bachelors,13,Never-married,Prof-specialty,Not-in-family,White,Female,0,1741,40,United-States,0,0
4,50,Self-emp-inc,136913,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,0,0

In [ ]:
df["income"]

<bound method Series.info of 0        1
1        0
2        0
3        0
4        0
        ..
32556    0
32557    1
32558    1
32559    0
32560    1
Name: income, Length: 32561, dtype: int64>

In [27]:
print("Unique validation labels:", df["income"].unique())
print("dtype:", df["income"].dtype)
print("Any NaN?", df["income"].isna().sum())

Unique validation labels: [1 0]
dtype: int64
Any NaN? 0